@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,500&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  background-color: rgba(242, 222, 222, 0.688);
}

.navigation {
  position: fixed;
  width: 5rem;
  height: 100vh;
  background-color: bisque;
  transition: all 0.3s ease;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navigation-item {
  width: 100%;
}

.navigation-item:last-child {
  margin-top: auto;
}

.navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  text-decoration: none;
  color: rgb(212, 55, 55);
  transition: all 0.3s ease;
}

.navigation-link:hover {
  transform: scale(1.2);
  color: rgb(90, 23, 23);
}

.link-text {
  display: none;
}

.navigation:hover {
  width: 15rem;
}

.navigation:hover .navigation-link {
  color: brown;
}

.navigation:hover .link-text {
  display: block;
  padding-left: 1rem;
}

.navigation:hover .navigation-items .navigation-item:hover {
  background-color: rgb(192, 172, 147);
}

.logo {
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.3rem;
  width: 100%;
}

.logo .navigation-link .animation {
  transition: all 0.3s ease-out;
  transform: rotate(0deg);
}

.navigation:hover .logo .navigation-link .animation {
  transform: rotate(-180deg);
}

@media screen and (max-width: 600px) {
  main {
    margin-left: 0rem;
    margin-bottom: 5rem;
    padding: 1rem;
  }
  .navigation {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navigation-items {
    flex-direction: row;
  }
  .navigation:hover .link-text {
    display: none;
  }
  .navigation:hover .navigation-link {
    color: rgb(212, 55, 55);
  }
  .navigation:hover .navigation-link:hover {
    color: rgb(90, 23, 23);
  }
  .navigation-link:hover {
    transform: scale(1.2);
  }
  .navigation-link {
    justify-content: center;
  }
  .navigation:hover {
    width: 100%;
  }
  .navigation:hover .navigation-items .navigation-item:hover {
    background-color: bisque;
  }
}

@media screen and (min-width: 600px) {
  .navigation {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navigation:hover {
    width: 15rem;
  }
  .navigation:hover .link-text {
    display: block;
    padding-left: 1rem;
  }
}
